<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>login</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
      
    <main class="form-signin">
      {% if e == 1 %}
      <div class="alert alert-warning" role="alert">
          {{ message }}
      </div>
      {% endif %}
      <form action="login" method="post" enctype="multipart/form-data">
        <!-- TODO: use site's logo here -->
        <img class="mb-4" src="../../static/images/book.svg" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please login</h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username">
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      </form>

      <hr>
      <br>
      Don't have an account? <a href="/auth/signup">Sign up here.</a>
    </main>

  </body>
</html>