<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learn More | ICU Diary</title>


    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom style sheet -->
    <link href="../static/css/navbar.css" rel="stylesheet">
    <!-- Custom style generic form entry -->
    <link href="../static/css/genericform.css" rel="stylesheet">
  </head>

  <body>
    <!-- Beginning of navbar-->
    <nav class="navbar navbar-expand-lg navbar-light p-3 mbt-3 border-bottom" style="background-color: #e3f2fd;">
      <a class="navbar-brand h1 mt-2" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="38" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
          <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
        </svg>
        ICU Diary
      </a>
      <!-- Navbar Collapse support -->
      <button class ="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class ="navbar-toggler-icon"></span>
      </button>
      <!--Navbar items-->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item text-large">
            <a class="nav-link" href="/entry_page/">Contribute</a>
          </li>
          <li class="nav-item text-large">
            <a class="nav-link" href="/diary_sharing/">Share Diary</a>
          </li>
          <li class="nav-item text-large">
            <a class="nav-link" href="/new_diary/">Create Diary</a>
          </li>
          <li class="nav-item text-large">
            <a class="nav-link" href="/invite">Join Requests</a>
          </li>
          <li class="nav-item text-large">
            <a class="nav-link" href="#">Learn More</a>
          </li>
        </ul>
      </div>
      <!-- Dropdown code -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../static/images/default_profile.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-align-right">
            <a class="dropdown-item" href="/auth/manage">Profile Settings</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/auth/logout">Sign Out</a>
          </div>
        </li>
      </ul>
    </nav>
    <!-- End of navbar-->

    <body class="form-generic">
        <h1 class="display-3 text-center" class=>All About ICU Diaries</h1>
        <p class="lead text-center">
            This page is meant to help new users understand what an ICU diary is, 
            how it helps the patient, and how contributors can use the diary.
        </p>
        <h1 class="display-6">What is an ICU Diary?</h1>
        <p>
            An ICU diary is typically a physical diary that is kept by the patient's bedside while they stay in the ICU.
            Because the patient is usually unconcscious, visitors will record the day and time they visited and leave a message about their visit.
            Doctors and nurses can also leave updates in the diary about the patient's health status during a visit. Once the patient exits the ICU, 
            they can read through their diary and learn more about their time in the ICU. The version you are using now is essentially the same thing, just virtual.

        </p><br>

        <h1 class="display-6">How does this benefit the patient?</h1>
        <p>
            The idea behind the ICU diary is it helps the patient during their recovery process. Often times, patients do not fully comprehend what 
            is occuring while they are in the ICU. Once they are released, they are susceptible to many mental illnesses such as depression, anxiety, 
            PTSD, and panic attacks among others. This stems from a lack of knowledge of what was happening to them, so they often piece together a timeline 
            based on distorted perceptions and dreams. The ICU diary is meant to help the patient reconstruct this timeline into a healthier one based on 
            what truly happened while in the ICU. The ICU diary has been shown to help patient recovery in this regard.  
        </p><br>

        <h1 class="display-6">What can I do?</h1>
        <p>
            As a contributor, the best thing you can do is make meaningful contributions. This can be done in all kinds of ways, such as...<br>
            - Share a thoughtful or loving message<br>
            - Update the patient on anything noteworthy that has happened to you recently<br>
            - Share a video or picture you think the patient would find funny or entertaining<br>
            - Let them know when you make a visit<br>
            By making these contributions, you remind the patient of their importance in your life, and you can keep them updated with your life.
            This way, when they leave the ICU, they have a good understanding of what happened to the people in their lives, and they won't feel 
            like they just missed a huge part of their life.<br>
        </p><br>
    </body>



    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body> 
</html>