<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS -->
   <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom style generic form entry -->
   <link href="../static/css/genericform.css" rel="stylesheet">
   
    <title>new diary</title>
  </head>
  
  <body class="text-center">
        <!-- Beginning of navbar-->
        <nav class="navbar navbar-expand-lg navbar-light p-3 mbt-3 border-bottom" style="background-color: #e3f2fd;">
          <!-- Logo, redirect to home -->
          <a class="navbar-brand h1 mt-2" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="38" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
              <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
            </svg>
            ICU Diary
          </a>
          <!-- Navbar Collapse support -->
          <button class ="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class ="navbar-toggler-icon"></span>
          </button>
          <!--Navbar items-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item text-large">
                <a class="nav-link" href="/entry_page/">Contribute</a>
              </li>
              <li class="nav-item text-large">
                <a class="nav-link" href="/diary_sharing/">Share Diary</a>
              </li>
              <li class="nav-item text-large">
                <a class="nav-link" href="/new_diary/">Create Diary</a>
              </li>
              <li class="nav-item text-large">
                <a class="nav-link" href="/invite">Join Requests</a>
              </li>
              <li class="nav-item text-large">
                <a class="nav-link" href="#">Learn More</a>
              </li>
            </ul>
          </div>
          <!-- Dropdown code -->
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../static/images/default_profile.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-align-right">
                <a class="dropdown-item" href="/auth/manage">Profile Settings</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="/auth/logout">Sign Out</a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of navbar-->
    <main class="form-signin">

      <form action="/new_diary" method="post" enctype="multipart/form-data">
        <h1 class="h3 mb-3 fw-normal">Create a New Diary</h1>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Patient Name" name="patient_name">
          <label for="floatingInput">Patient Name</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="Patient Email" name="patient_email">
          <label for="floatingInput">Patient Email</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Emergency Contact Name" name="contact_name">
          <label for="floatingInput">Emergency Contact Name</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="Contact Email" name="contact_email">
          <label for="floatingInput">Emergency Contact Email</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Diary Name" name="diary_name">
          <label for="floatingInput">Diary Name</label>
        </div>
      
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
      </form>

        <!-- Bootstrap Scripts -->
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>