<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Bootstrap CSS -->
   <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
   <!-- Custom style generic form entry -->
   <link href="../static/css/genericform.css" rel="stylesheet">
   
    <title>new diary page</title>
  </head>
  
  <body class="text-center">
    <main class="form-generic">

      <h1>New Diary Creation</h1>

      <form action="newdiary" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="patient">Please enter patient name</label>
            <input type="text" class="form-control" id="patient" placeholder="Patient Name" name="patient">
        </div>

        <div class="form-group">
            <label for="diary">Please enter diary name</label>
            <input type="text" class="form-control" id="diary" placeholder="Diary Name" name="diary">
        </div>

        <div class="form-group">
            <label for="ECemail">Email address</label>
            <input type="email" class="form-control" id="ECemail" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">Please enter the patient's emergency contact email</small>
        </div>
      </form>
    </main>
      
  </body>

</html>