<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Bootstrap CSS -->
     <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
     <!-- Custom style generic form entry -->
     <link href="../static/css/genericform.css" rel="stylesheet">
    <title>New Entry Page</title>
  </head>
  <body class="text-center">
    <main class="form-generic">
      <h1>New Diary Entry</h1>

      <form action="entry_page" method="post" enctype="multipart/form-data">

        <div class="form-group">
          <label for="title">Message title</label>
          <input type="text" class="form-control" id="title" placeholder="Message title" name="title">  
        </div>

        <div class="form-group">
          <label for="content">Your message</label>
          <textarea class="form-control" id="content" name = "content" rows="5" placeholder="Your message"></textarea>
        </div>        

        <div class = "mb-3">
            <label for="media" class="form-label">Select media to upload</label>
            <input class="form-control" type="file" id="media" name = "media" multiple>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>

        
      </form>
    </main>  
  </body>

</html>