<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>New Entry Page</title>
  </head>
  <body>
    <h1>New Diary Entry</h1>

  <body class="text-center">
      <form action="newentry" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <input type="text" class="form-control" id="title" placeholder="Message title" name="title">
            <label for="title">Message title</label>
        </div>

        <div class="form-group">
            <textarea class="form-control" id="content" name = "content" rows="5"></textarea>
            <label for="content">Your message</label>
        </div>        

        <div class = "mb-3">
            <label for="media" class="form-label">Select media to upload</label>
            <input class="form-control" type="file" id="media" name = "media" multiple>
        </div>

      </form>
  </body>

</html>